# Byte-compiled / optimized / DLL files
__pycache__/

# Machine learning model files
# spam_classifier_model.pkl
# tfidf-vectorizer.pkl

# Credentials
credentials.json

.env

# CSV file with emails
# emailsss.csv


